<h1 data-testid="title-posts">{{ title() }}</h1>

@let postsList = postsList$ | async;

@if (postsList?.posts?.length) {
  <p>Total: {{ postsList!.total }}</p>

  @for (post of postsList!.posts; track post) {
    <div>
      <h3 data-testid="title-post">
        <a [routerLink]="['/', post.id]" [state]="{ backPageTitle: title(), backLink: routeUrl }"
          data-testid="link-post">{{ post.title }}</a>
      </h3>
      <p><em>by {{ post.userId }}</em></p>
      <p>{{ post.body }}</p>
      @if (post.tags.length) {
        <p>
          Tags:
          @for (tag of post.tags; track tag; let isLast = $last) {
            {{ tag }}@if (!isLast) {, }
          }
        </p>
      }
      <p><em>{{ post.views }} views - {{ post.reactions.likes }} likes - {{ post.reactions.dislikes }} dislikes</em></p>
    </div>
  }
} @else {
  <div data-testid="msg-noposts">No Posts found.</div>
}
