<h1>{{ title }}</h1>
@if (postsList$ | async; as postsList) {
  @for (post of postsList.posts; track post) {
    <div>
      <h3><a [routerLink]="['/', post.id]" [state]="{ backPageTitle: title, backLink: routeUrl }">{{ post.title }}</a></h3>
      <p><em>by {{ post.userId }}</em></p>
      <p>{{ post.body }}</p>
      @if (post.tags.length) {
        <p>
          Tags:
          @for (tag of post.tags; track tag; let isLast = $last) {
            {{ tag }}@if (!isLast) {, }
          }
        </p>
      }
      <p><em>{{ post.views }} views - {{ post.reactions.likes }} likes - {{ post.reactions.dislikes }} dislikes</em></p>
    </div>
  }
} @else {
  <div>No Posts found.</div>
}
