<div>
  @if (authService.user) {
    <a routerLink="/my-posts">My Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
  }
  <a routerLink="/">Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
  @if (!authService.user) {
    <a routerLink="login">Login</a>
  } @else {
    &nbsp;&nbsp;<span>Hi <a routerLink="/my-profile">{{ authService.user.firstName }}</a>!</span>&nbsp;&nbsp;
    <button type="button" (click)="logout()">Logout</button>
  }
</div>
<router-outlet />
@if (appService.error$ | async; as error) {
  <app-toast [message]="error" type="error" (closed)="appService.clearError()" />
}
@if (appService.loading$ | async) {
  <div class="loader">
    <p>Loading...</p>
  </div>
}
