<div>
  @let user = authService.user();
  @if (user) {
    <a routerLink="/my-posts">My Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
  }
  <a routerLink="/">Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
  @if (user) {
    &nbsp;&nbsp;<span>Hi <a routerLink="/my-profile">{{ user.firstName }}</a>!</span>&nbsp;&nbsp;
    <button data-testid="btn-logout" type="button" (click)="logout()">Logout</button>
  } @else {
    <a data-testid="link-page-login" routerLink="login">Login</a>
  }
</div>
<router-outlet />
@let error = appService.error();
@if (error) {
  <bb-toast [message]="error" type="error" (closed)="appService.clearError()" />
}
@if (appService.loading()) {
  <div class="loader">
    <p>Loading...</p>
  </div>
}
