<br />
<a data-testid="link-back" [routerLink]="[backLink()]">&lt; Back to {{ backPageTitle() }}</a>
@let postDetails = details();
@if (postDetails) {
  <h2 data-testid="title-postpage">{{ postDetails.title }}</h2>
  <p><em>by {{ postDetails.userId }}</em></p>
  <p>{{ postDetails.body }}</p>
  @if (postDetails.tags.length) {
    <p>
      Tags:
      @for (tag of postDetails.tags; track tag; let isLast = $last) {
        {{ tag }}@if (!isLast) {,}
      }
    </p>
  }
  <p><em>{{ postDetails.views }} views - {{ postDetails.reactions.likes }} likes - {{ postDetails.reactions.dislikes }} dislikes</em></p>
} @else {
  <div data-title="msg-nopost">This post is not available</div>
}
