<br />
<a [routerLink]="[backLink]">&lt; Back to {{ backPageTitle }}</a>
<ng-container *ngIf="details; else postNotFound">
  <h2>{{ details.title }}</h2>
  <p><em>by {{ details.userId }}</em></p>
  <p>{{ details.body }}</p>
  <p *ngIf="details.tags.length">
    Tags:
    <ng-container *ngFor="let tag of details.tags; last as isLast">
      {{ tag }}<ng-container *ngIf="!isLast">,</ng-container>
    </ng-container>
  </p>
  <p><em>{{ details.views }} views - {{ details.reactions.likes }} likes - {{ details.reactions.dislikes }} dislikes</em></p>
</ng-container>
<ng-template #postNotFound>
  <div>This post is not available</div>
</ng-template>
