<br />
@let userDetails = details();
@if (showEditForm()) {
  <form [formGroup]="detailsForm" (ngSubmit)="saveDetails()">
    <div>
      <label>
        Name:&nbsp;
        <input type="text" formControlName="firstName" placeholder="First name" />&nbsp;&nbsp;
        <input type="text" formControlName="lastName" placeholder="Last name" />
      </label>
    </div>
    <br />
    <div>
      <label>
        Gender:&nbsp;
        <input id="option-male" type="radio" name="gender" value="male" formControlName="gender" />&nbsp;
        <label for="option-male">Male</label>&nbsp;&nbsp;
        <input id="option-female" type="radio" name="gender" value="female" formControlName="gender" />&nbsp;
        <label for="option-female">Female</label>
      </label>
    </div>
    <br />
    <div>
      <label>
        Age:&nbsp;
        <input type="number" formControlName="age" />
      </label>
    </div>
    <br />
    <div>
      <label>
        Birth Date:&nbsp;
        <input type="date" formControlName="birthDate" >
      </label>
    </div>
    <br />
    <div>
      <label>
        Email:&nbsp;
        <input type="email" formControlName="email" />
      </label>
    </div>
    <br />
    <div>
      <label>
        Phone:&nbsp;
        <input type="tel" formControlName="phone" />
      </label>
    </div>
    <br />
    <div>
      <label>
        Username:&nbsp;
        <input type="text" formControlName="username" />
      </label>
    </div>
    <br />
    <div>
      <label>
        Password:&nbsp;
        <input type="text" formControlName="password" />
      </label>
    </div>
    <br />
    <button type="button" (click)="cancelEdit()">Cancel</button>&nbsp;&nbsp;
    <button type="submit" [disabled]="!detailsForm.valid || saving()">{{ saving() ? 'Saving...' : 'Save' }}</button>
  </form>
} @else if (userDetails) {
  <h2 data-testid="title-userfullname">{{ userDetails.firstName }} {{ userDetails.lastName }}</h2>
  <h4>{{ userDetails.role }}</h4>
  <p>{{ userDetails.gender }}, {{ userDetails.age }}</p>
  <p>{{ userDetails.birthDate }}</p>
  <p>{{ userDetails.email }}</p>
  <p>{{ userDetails.phone }}</p>
  <p>{{ userDetails.username }}</p>
  <br />
  <button type="button" (click)="editDetails()" data-testid="btn-edit">Edit</button>
} @else {
  <div data-testid="msg-profile-nodetails">No details found</div>
}
