<h1>Trivia Quiz</h1>

<form [formGroup]="triviaForm" (submit)="validateAnswers()">
  <ol>
    @for (trivia of (triviaList$ | async); track $index) {
      <li>
        <div [innerHTML]="trivia.sanitizedQuestion"></div>
        <ng-container
          *ngComponentOutlet="
            trivia.controlComponent;
            inputs: {
              trivia: trivia
            }
          "></ng-container>
      </li>
      <br />
    }
  </ol>

  <button type="button" (click)="resetForm()">Clear</button>&nbsp;&nbsp;
  <button type="submit" [disabled]="triviaForm.invalid">Submit</button>
</form>
